*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Source Sans 3", sans-serif;
  color: #ffffff;
  margin: 0 auto;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  padding: 20px 8%;
  z-index: 5;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
nav label {
  position: relative;
  display: none;
  width: 30px;
  height: 15px;
  z-index: 6;
}
nav label span,
nav label span::before,
nav label span::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  left: 0;
  transition: 0.3s ease;
  /* transform-origin: center; */
  background: black;
}
nav label span {
  top: 50%;
  width: 50%;
}
nav label span::before {
  top: -5px;
}
nav label span::after {
  top: 5px;
}
nav input {
  display: none;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
header nav ul li a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #ff6565;
}
nav input:checked {
}
nav input:checked + label {
}
nav input:checked + label span {
  background: transparent;
}
nav input:checked + label span::before {
  top: 0;
  transform: rotate(45deg);
  background: red;
}
nav input:checked + label span::after {
  top: 0;
  transform: rotate(-45deg);
  background: red;
}

main {
  background-image: url("./headphones_hero_1.jpg");
  min-height: calc(100vh + 90px);
  background-size: cover;
  background-position: center;
  margin-top: -104px;
}
main #hero-section {
  padding-top: 50vh;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}
main #hero-section h2 {
  font-weight: 800;
}
main #hero-section p {
  font-weight: 600;
}

main #hero-section button {
  background-color: #ff6565;
  color: #ffffff;
  padding: 12px 30px;
  border-radius: 30px;
  outline: none;
  border: 0px;
  margin: 50px auto;
}
main #hero-section button:hover {
  opacity: 0.9;
  cursor: pointer;
}
main #hero-section p:nth-child(4) {
  font-weight: 200;
}

@media (max-width: 700px) {
  header {
    padding: 20px 20px;
  }
  nav {
    gap: 20px;
    justify-content: center;
    gap: 30px;
  }

  nav label {
    width: 40px;
    display: block;
    position: absolute;
    left: 30px;
  }
  nav img {
    display: block;
    max-width: 180px;
    height: auto;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    padding: 10px;
  }
  nav input:checked ~ ul {
    display: block;
    position: absolute;
    /* left: 50%; */
    top: 100%;
  }

  main {
    padding: 0px 20px;
    margin-top: -89.7px;
  }
}
